.listContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
    height: 30px;
}
.listTodo{
    background-color: rgb(255 254 254 / 16%);
    border: none;
    border-radius: 5px;
    color: white;
    width: 75%;
    padding: 5px;
    vertical-align:middle;
    word-wrap: break-word;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.listTodo-disabled{
    background-color: transparent;
    border: none;
    color: white;
    width: 75%;
    word-wrap:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.listDeletBtn{
    padding: 0;
    height: 35px;
    width: 30px;
    font-size: 25px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}