.todo-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: flex-end;
    z-index: 5;
}
.todo-modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px 0 20px;
    border-radius: 12px;
    background-color: #ffffff;
    color: #000;
    width: 100%;
    height: 350px;
    overflow-y: scroll;
    position: relative;
}
.todo-modal-container{
    width: 290px;
    padding: 20px;
}
.todoData{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.todoInput:disabled{
    background-color: transparent;
    color: #000;
    border: 1px solid grey;
}
.todoInputBtns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todoInput{
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 65%;
}
.todoDeleteBtn{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 25px;
}